<aside class="sidebar p-3 overflow-hidden">
  <form id="filterForm" action="/products" method="get" class="overflow-hidden">
    <!-- Radio order -->
    <div class="mb-4">
      <label for="order" class="form-label fw-semibold">Order by:</label>
      <div class="form-check m-0">
        <input
          class="form-check-input"
          type="radio"
          name="order"
          id="ascending"
          value="asc"
          checked
        />
        <label class="form-check-label" for="ascending">Ascending</label>
      </div>
      <div class="form-check m-0">
        <input
          class="form-check-input"
          type="radio"
          name="order"
          id="descending"
          value="desc"
        />
        <label class="form-check-label" for="descending">Descending</label>
      </div>
    </div>

    <!-- Radio sort -->
    <div class="mb-4">
      <label for="sort" class="form-label fw-semibold">Sort by:</label>
      <div class="form-check m-0">
        <input
          class="form-check-input"
          type="radio"
          name="sort"
          id="name"
          value="name"
          checked
        />
        <label class="form-check-label" for="name">Name</label>
      </div>
      <div class="form-check m-0">
        <input
          class="form-check-input"
          type="radio"
          name="sort"
          id="price"
          value="price"
        />
        <label class="form-check-label" for="price">Price</label>
      </div>
    </div>

    <!-- Checkbox Category -->
    <div class="mb-4">
      <label for="categories" class="mb-3 form-label fw-semibold"
        >Filter by category:</label
      >

      <% categories.forEach(category => { %>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="categories"
          value="<%= category.id %>"
          id="category-<%= category.id %>"
        />
        <label
          class="form-check-label w-auto text-truncate tags"
          style="
            --bg-color: <%= category.color %>;
            --color: <%= getContrastColor(category.color) %>;
            max-width: 100%;
          "
          for="category-<%= category.id %>"
        >
          <%= category.name %>
        </label>
      </div>
      <% }); %>
    </div>

    <!-- Form action -->
    <div class="d-grid mt-4">
      <button type="submit" class="btn btn-light btn-sm py-2 rounded-5">
        <i class="bi bi-save me-2"></i>Apply filters
      </button>
    </div>
  </form>
</aside>

<script>
  $("#filterForm").on("submit", function (e) {
    e.preventDefault();

    const $form = $(this);
    const params = new URLSearchParams();

    // Get selected order and sort
    const order = $form.find('input[name="order"]:checked').val();
    const sort = $form.find('input[name="sort"]:checked').val();
    const name = $("#name-query");

    if (order) params.set("order", order);
    if (sort) params.set("sort", sort);
    if (name && name.val() != "") params.set("name", name.val());

    // Get selected categories
    const categories = [];
    $form.find('input[name="categories"]:checked').each(function () {
      categories.push($(this).val());
    });

    if (categories.length > 0) {
      params.set("categories", categories.join(","));
    }

    // Redirect with the constructed query string
    window.location.href = $form.attr("action") + "?" + params.toString();
  });
</script>
